*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.conteiner-principal{
    display: flex;
    width: 100%;
    height: 5.0rem;
    background-color: rgba(91, 133, 203, 1);
}
.conteiner-principal .cabeçalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    margin-left: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
input{
    border: transparent;
    border-radius: 20px;
    width: 20.0rem;
    height: 3rem;
}